$button1-text-color: #FFFFFF;
$button1-bg-color: #685ED6;
$button1-hover-bg-color: #33AFE1;
$button1-active-bg-color: #18E1F7;
//
$button2-text-color: #685ED6;
$button2-text-active-color: #FFFFFF;
$button2-bg-color: #F1E4FF;
$button2-hover-bg-color: #C39BFB;
$button2-active-bg-color: #685ED6;
// 
$title-color-rarely: #685ED6;
$most-text-color: #1D2530;
$card-comment-text-color:#18191F;
//
$i-color: #685ED6;
$hover-text-color: #685ED6;